table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .EmployeeHeader{
    padding: 35px;
    left: 40rem;
    position: relative;
    color: rgb(69, 184, 69);
   
  }
  .body{
    width: 100%;
    margin: 0;
    padding: 0;
  }